// Menu - mobile
.mobile-nav
  a(class="mobile-link-show" href="#") MENU - SHOW
  .mobile-nav-show
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
// & Menu - mobile