// Menu - web
.web-nav
  a(class="web-link" href="#") domov
  a(class="web-link" href="#") domov
  a(class="web-link" href="#") domov
  a(class="web-link" href="#") domov
  a(class="web-link" href="#") domov
// & Menu - web