// Menu - mobile
.mobile-nav
  .mobile-nav-button
    a(class="mobile-link-show" href="#" id="button")
  .mobile-nav-show
    a(class="mobile-link" href="#") Domov
    a(class="mobile-link" href="#") O mne
    a(class="mobile-link" href="#") Galéria
    a(class="mobile-link" href="#") Kontakt
// & Menu - mobile