// Menu - mobile
.mobile-nav
  .mobile-nav-button
    a(class="mobile-link-show" href="#" id="button") MENU - SHOW
  .mobile-nav-show
    a(class="mobile-link" href="#") home
    a(class="mobile-link" href="#") experience
    a(class="mobile-link" href="#") about me
    a(class="mobile-link" href="#") gallery
    a(class="mobile-link" href="#") contact
// & Menu - mobile