// Menu - web
.web-nav
  .web-nav-show
    a(class="web-link" href="#") domov
    a(class="web-link" href="#") domov
    a(class="web-link" href="#") domov
    a(class="web-link" href="#") domov
    a(class="web-link" href="#") domov
// & Menu - web