// Menu - mobile
.mobile-nav
  .mobile-nav-button
    a(class="mobile-link-show" href="#" id="button") MENU - SHOW
  .mobile-nav-show
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
    a(class="mobile-link" href="#") domov
// & Menu - mobile