// Navigation bar
//.web-nav
.mobile-nav-button
  a(class="web-link" href="#" id="button") HLAVNÉ MENU
.mobile-nav-show
  a(class="mobile-link" href="#") domov
  a(class="mobile-link" href="#") domov
  a(class="mobile-link" href="#") domov
  a(class="mobile-link" href="#") domov
  a(class="mobile-link" href="#") domov
// & Navigation bar