// Imported menu and main style
@import menu.sass
@import mixins.sass

@font-face
  font-family: 'Quicksand'
  src: url('../assets/font/Quicksand-Light.ttf')
  font-weight: light
  font-style: normal

@font-face
  font-family: 'Quicksand'
  src: url('../assets/font/Quicksand-Regular.ttf')
  font-weight: regular
  font-style: normal

@font-face
  font-family: 'Quicksand'
  src: url('../assets/font/Quicksand-Medium.ttf')
  font-weight: medium
  font-style: normal

@font-face
  font-family: 'Quicksand'
  src: url('../assets/font/Quicksand-Bold.ttf')
  font-weight: bold
  font-style: normal





*, *:after, *:before
    box-sizing: border-box
    font-family: 'Quicksand'
    font-weight: regular

body
  margin: 0
  background: #fdfdfd

// background - texture
.bg-texture
  width: 100%
  height: 100vh
  position: absolute
  z-index: -999
  background-image: url('../assets/img/bg-texture.png')
  background-size: 60%
// Header
header
  width: 80%
  min-height: 200px
  margin: auto
  display: flex
  align-items: center
  +max(800px)
    width: 100%
    flex-direction: column
.logo
  width: 20%
  max-height: 250px
  display: flex
  justify-content: left
  float: left
  order: 1
  +max(800px)
    float: none
    order: 2
    width: 100%
    height: auto
    transform: scale(0.6)
    margin: 30px auto
  img
    width: 100%
    height: 100%
    object-fit: contain

@function strip-unit($value)
  @return $value / ($value * 0 + 1)

// Index
// Section title
.section-title
  width: 90%
  min-height: 50px
  margin: 0 auto
  text-align: center
  h1
    font-size: 24px
    letter-spacing: 10px
    text-transform: uppercase
    font-family: 'Quicksand'
    color: #1d1d1d
    padding: 20px 0 10px 0
    +max(800px)
      font-size: 100%
// section
.section
  width: 90%
  min-height: 200px
  margin: 0 auto
  border-top: 1px #b1b1b1 solid
  border-bottom: 1px #b1b1b1 solid
  padding: 10px 0 10px 0

// footer
.footer
  width: 90%
  height: 200px
  margin: 10px auto 0 auto
  position: relative
  .footer-social
    width: 50%
    height: 80px
    float: left

  .footer-copyright
    width: 50%
    min-height: 80px
    float: left
    display: flex
    justify-content: center
    -webkit-margin-before: 0em
    -webkit-margin-after: 0em
    text-align: center