// Menu web/mobile
.web-nav
  width: 40%
  height: 20px
  background: #000000
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 auto
  text-align: center
  padding: 20px 0
  .web-link
    text-decoration: none
    color: #ffffff
    &:hover
      color: #e62739

.mobile-nav
  width: 100%
  height: auto
  background: #000000
  justify-content: center
  align-items: center
  margin: 0 auto
  text-align: center
  .mobile-link-show
    text-decoration: none
    color: #ffffff
    margin: 10px 0
    width: 100%
    &:hover
      color: #e62739

.mobile-nav-show
  width: 100%
  height: auto
  display: flex
  background-color: blue
  justify-content: center
  margin: 0 auto
  text-align: center
  align-items: center
  flex-direction: column-reverse
  .mobile-link
    text-decoration: none
    width: 100%
    color: #ffffff
    background: red
    padding: 10px 0
