<!DOCTYPE html>
html(lang="sk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/main.css")
    title Mário Ďak - Photography
  body
    // Pozadie
    .background
    // Included Menu
    include includes/menu-mobile.jade

    // Scripts
    script(src="scripts/jquery-3.2.1.min.js")
    script(src="scripts/main.js")