<!DOCTYPE html>
html(lang="sk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/main.css")
    title Mário Ďak
  body
    include includes/menu-web.jade
    h2 medzera
    include includes/menu-mobile.jade
    h1 Začiatok
    script(src="scripts/main.js")